{:sonarr/url "http://localhost:8989"
 :sonarr/api "test-api-key"
 :radarr/url "http://localhost:7878"
 :radarr/api "test-api-key"
 ; :overseerr/url ""
 ; :overseerr/api ""
 :discord/token "test-token-for-debug"
 ; -- Optional Settings
 ; :partial-seasons false
 ; :sonarr/quality-profile ""
 ; :radarr/quality-profile ""
 ; :radarr/rootfolder ""
 ; :sonarrr/language-profile ""
 ; :sonarr/rootfolder ""
 ; :sonarr/season-folders true
 :discord/max-results 10
 ; :overseerr/default-id 1
 :log-level :debug
 }
